body{
    background: #02733E;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
display: flex;
padding: 10px;
margin: 10px;
background: #025930;
}

.assignment img {
    width: 200px;
    padding:10px;
    background:black;
    
}

h1{
    color: #3E403F;
    text-align:center;
}

a {
    text-decoration:none;
    color:black;
}